{% extends 'portfolio_app/base_template.html' %}

{% block content %}
<div class="container-fluid">
    <h1>Student List</h1>
    {% if student_list %}
            {% for student in student_list %}
                <div class="btn-group mr-2">
                    <a href="{{ student.get_absolute_url }}" class="btn btn-dark btn-lg mb-3">
                        <i class="fas fa-user"></i> {{ student.name }}
                    </a>
                </div>
            {% endfor %}
    {% else %}
        <p>There are no students registered.</p>
    {% endif %}
</div>
{% endblock %}